/*Desktop*/
@media only screen and (min-width: 769px) {
    
    .main{
        display:grid;
        grid-template-columns: 1fr 2fr;
        font-size:16px;
    }  
    .career {
        margin-left: 5px;
    }

}

/*tablet*/
@media only screen and (min-width: 426px) and (max-width: 768px) {
    
    .main{
        display:grid;
        grid-template-columns: 1fr 2fr;
        font-size: 13px;
    } 
    .career {
        margin-left: 5px;
    }

     
    .table {
        font-size: 11px;
    }
        
   

}

/*Mobile S/M/L*/
@media only screen and (min-width: 200px) and (max-width: 425px) {
    
    .profile {
        font-size: 12px;
    }

    .career {
        font-size: 12px;
    }

    
    .table {
        font-size: 10px;
    }
   

}

body    {
    margin: 0;
    padding: 0;
    min-height:  100vh;
    font-family:Arial, Helvetica, sans-serif;
    color:#081869;
}


.profile {
    background-color: lightgrey;
    box-shadow: 2px 2px 8px #081869;
}

img {
    width: 100px;
    height: auto;
    margin: auto;
    padding-top: auto;
    box-shadow: 2px 2px 8px #081869;
       
}

.figure {
    height: 15vh;
    margin-bottom: 30px;

}

figcaption {
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px 5px #7a8deb;

}

.contact {
    margin-top: 30px;
    margin-left: 5px;
    font-stretch: semi-condensed ;
    
}
.contact p:hover {
    font-size: larger;
    font-weight: bold;
    -webkit-text-fill-color: #081869;
}

.language {
    list-style-type: none;
}

.education li {
    margin-bottom: 5px;
}

.skills li {
    margin-bottom: 5px;
}

.career {
    margin-left: 5px;
}

.table {
    border-top: solid #cacfe8;
    width: 100%;
}

.table tr:first-child td:first-child {
    padding-right: 10px;
    
}

.table h4 {
    font-weight: bold; 
    
}

h5 {
    font-weight: bold;
    margin-left: 5px;
    text-shadow: 4px 4px 5px #7a8deb;
    
}

h3 {
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 4px 4px 5px #7a8deb;

}


.liparent {
    list-style-type: none;
    font-weight: bold;
    
}

.lichild {
    font-weight: lighter;
    transform: scale(0.9);
}

.experience li {
    transform: scale(0.9);

}